<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: rgb(39, 101, 151)" >
    <a class="navbar-brand" href="#" style="color: black; font-weight: bold; margin-left: 2%;">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" style="color: black; font-weight: bold;">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/users" style="color: black; font-weight: bold;">Users</a>
          </li>
      </ul>
    </div>
  </nav>
  <h1 style="text-align: center; ">This is a Demo Application</h1> -->

  <h1>Home page</h1>
<a routerLink="/auth/login" *ngIf="!isAuthenticated()">Please login first</a>
<p *ngIf="isAuthenticated()">Welcome, you are logged in.</p>